body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:black;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.NavBarStyle {
   background-color:white;
   border-width: 3px;
   border-color:#2F0000;
 }

.FooterStyle{
   margin-top: 160px;
}

.body-content-index{
   margin-top: 90px;
   padding-left: 15px;
   padding-right: 15px;
}

.RegisterColor{
    color:white;
}

.jumbotronAuthor {
background-image: url(../Content/Images/author.jpg);
background-size: 100% 80%;
width:  450px;
height: 500px;
background-position: center bottom;
background-repeat: no-repeat;
background-color:black;
padding-top:5px;
text-align:center;
color: white;
font-family: "Comic Sans MS", cursive, sans-serif;
}

.jumbotronBook {
background-image: url(../Content/Images/book.jpg);
background-size: 100% 80%;
width:  450px;
height: 500px;
background-position: center bottom;
background-repeat: no-repeat;
background-color:black;
padding-top:5px;
text-align:center;
color: white;
}

.home_index_links{
    color:white;
}

 
.home_index_links:hover{
    color:#5fb3e9;
}

