
@{
    ViewBag.Title = "Index";
}

<h2 class="BasicColor">Admin Panel</h2>
<div class="BasicColor">
    <ul>
        <li>@Html.ActionLink("Roles Management", "ManageRoles", "AdminPanel", null, new { @class = "BasicLink" })</li>
    </ul>
</div>

