@{

    ViewBag.Title = "RolesManagement";
}

<h2 class="BasicColor">Mange Roles</h2>

<div class="BasicColor">
    <ul>
        <li>@Ajax.ActionLink("Roles List", "RolesList", "AdminPanel", new AjaxOptions { UpdateTargetId = "ShowRolesListPartial" })</li>
        <li>@Html.ActionLink("Manage User Role", "ManageUserRole", "AdminPanel", null, new { @class = "BasicLink" })</li>     
</ul>

    <div id="ShowRolesListPartial" style="margin-top:40px"></div>

</div>


@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"> </script>