@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content-index">
        <div class="jumbotron col-md-5 jumbotronAuthor">
            <h1>@Html.ActionLink("Author", "Index", "Author", routeValues: null, htmlAttributes: new { @class = "BasicLink" })</h1>
        </div>

        <div class=" col-md-2"></div>


        <div class="jumbotron col-md-5 jumbotronBook">
            <h1>@Html.ActionLink("Books", "Index", "Books", routeValues: null, htmlAttributes: new { @class = "BasicLink" })</h1>
        </div>
 </div>
