@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content-index">

    <div class="jumbotron col-md-5 jumbotronAuthor">
        <h1>@Html.ActionLink("Author", "Index", "Author", new { area = "" }, new { @class = "home_index_links" })</h1>
    </div>

    <div class=" col-md-2"></div>


    <div class="jumbotron col-md-5 jumbotronBook">
        <h1>@Html.ActionLink("Books", "Index", "Books", new { area = "" }, new { @class = "home_index_links" })</h1>
        
    </div>

</div>


