@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content-index">

    <div class="jumbotron col-md-5">
        <h1>My first Bootstrap website!</h1>
        <p>This page will grow as we add more and more components from Bootstrap...</p>
        <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> Search</a>
    </div>

    <div class=" col-md-2"></div>


    <div class="jumbotron col-md-5">
        <h1>My first Bootstrap website!</h1>
        <p>This page will grow as we add more and more components from Bootstrap...</p>
        <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> Search</a>
    </div>

</div>


