@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content-index">
    
        <div class="container body-content">
            
                <h1>@Html.ActionLink("Author", "Index", "Author", routeValues: null, htmlAttributes: new { @class = "jumbotron col-md-5 JumbotronAuthor" })</h1>
          
            <div class=" col-md-1"></div>

                <h1>@Html.ActionLink("Books", "Index", "Books", routeValues: null, htmlAttributes: new { @class = "jumbotron col-md-5 JumbotronBook" })</h1>

            </div>
 </div>
